@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,300');

$color-main: royalblue;
$color-border: lighten($color-main, 32%);
$color-grey: #ddd;
$color-grey-2: #aaa;
$font-family: 'Roboto', sans-serif;

$sm: 1024px;
$xs: 414px;